div#card {
    border: solid 1px darkblue;
    margin-left: auto;
    margin-right: auto;
    display: table; 
    height: 400px;
    width: 400px;
    overflow: hidden;
}

div#card>div {
    display: table-cell; 
    vertical-align: middle;
}